﻿@using Microsoft.AspNetCore.Identity
@using SmartGarage.Data.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmartGarage.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link href="/lib/font-awesome/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark box-shadow">
            <div class="container">
                <a asp-controller="Home" asp-action="Index"><img src="https://i.ibb.co/8z8DdNJ/Smart-Garage-Official-Logo-White.png" alt="Smart-Garage-Official-Logo" border="0"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1 d-flex justify-content-center">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Vehicles" asp-action="Index">Vehicles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Visit" asp-action="Index">Visits</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Services" asp-action="Index">Services</a>
                            </li>
                            @if (User.IsInRole("Employee"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Customers" asp-action="Index">Customers</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid p-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container text-light">
            &copy; 2021 - SmartGarage.Web - <a class="text-light ml-2" asp-area="" asp-controller="Home" asp-action="Privacy"><ins>Privacy</ins></a>
            @if (User.IsInRole("Employee"))
            {
                <a class="text-light ml-2" asp-area="" asp-controller="Manufacturers" asp-action="Index"><ins>Manufacturers</ins></a>
            }
            <a class="text-light ml-2" asp-area="" asp-controller="Home" asp-action="ContactUs"><ins>Contact Us</ins></a>
            <a class="text-light ml-2" asp-area="" asp-controller="Home" asp-action="Location"><ins>Location</ins></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/pdfJs.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
