﻿@model SmartGarage.Services.Helpers.Pager<ServiceDTO>
@using SmartGarage.Services.Models;
@{
    Layout = null;
}

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                @if (User.IsInRole("Employee"))
                {
                    <a asp-action="Create" class="btn-sm btn-success" title="Create new"><i class="far fa-plus-square"></i></a>
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(i => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(i => item.Price)
                </td>
                <td>


                    @if (User.IsInRole("Employee"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary"><i class="far fa-edit"></i></a>
                    }

                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info"> <i class="fas fa-info-circle"></i></a>

                    @if (User.IsInRole("Employee"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.PrevPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}
<a id="prev" href="#" class="btn btn-default @prevDisabled">
    Previous
</a>
@if (Model.TotalPages == 0)
{
    <a>No results</a>
}
else
{
    <a> @Model.Page / @Model.TotalPages</a>
}
<a id="next" href="#" class="btn btn-default @nextDisabled">
    Next
</a>
<input value="@Model.Page" hidden id="pageNumber" />
