﻿@model SmartGarage.Web.Models.ModelsViewModel
@using SmartGarage.Services.Extensions
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Model</h4>
<hr />
<div class="row">
    <div class="col-12">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Manufacturer" class="control-label">@Model.Manufacturer</label>
                    <input asp-for="Manufacturer" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Model</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index" asp-route-id="@Model.ManufacturerId" class="btn btn-outline-success">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


