﻿@model SmartGarage.Services.Helpers.Pager<VehicleModelDTO>
@using SmartGarage.Services.Models;
@using SmartGarage.Data.Models.Enums
@{
    ViewData["Title"] = "Models";
}

<div class="container mt-3">
    <div class="text-center">
        <h1 class="display-4">Models</h1>
        @if (TempData["Messages"] != null)
        {
            <div class="alert alert-success" role="alert">
                <p>@TempData["Messages"]</p>
            </div>
        }
        @if (Model.Items.Count != 0)
        {
            <p>
                <a asp-action="Create" asp-route-id="@Model.Items.FirstOrDefault().ManufacturerId" class="btn btn-success" title="Create new"><i class="far fa-plus-square"></i></a>
            </p>
        }
        else
        {
            <p>
                <a asp-controller="Manufacturers" asp-action="Index" class="btn btn-outline-success" autofocus>Create New</a>
            </p>
        }

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Manufacturer
                    </th>
                    <th>
                        Type
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(i => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(i => item.Manufacturer)
                        </td>
                        <td>
                            @if (User.IsInRole("Employee"))
                            {
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger" title="Delete"><i class="far fa-trash-alt"></i></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @{
            var prevDisabled = !Model.PrevPage ? "disabled" : "";
            var nextDisabled = !Model.NextPage ? "disabled" : "";
        }
        @{ 
            var routeId =(@Model.Items.Count == 0) ? 1 : @Model.Items.FirstOrDefault().ManufacturerId;
        }
        <a asp-action="Index" asp-route-id="@routeId" asp-route-pageNumber="@(Model.Page - 1)" class="btn btn-default @prevDisabled">
            Previous
        </a>
        @Model.Page / @Model.TotalPages
        <a asp-action="Index" asp-route-id="@routeId" asp-route-pageNumber="@(Model.Page + 1)" class="btn btn-default @nextDisabled">
            Next
        </a>
        <a asp-controller="Manufacturers" asp-action="Index" class="btn btn-outline-success" title="Back to List"><i class="fas fa-external-link-square-alt"></i></a>

    </div>
</div>