﻿@model SmartGarage.Services.Models.UserDTO

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container m-3">
    <h1>Change password</h1>
    @if (TempData["Messages"] != null)
    {
        if (@TempData["Messages"].ToString().Contains("Invalid"))
        {
            <div class="alert alert-danger" role="alert">
                <p>@TempData["Messages"]</p>
            </div>
        }
        else
        {
            <div class="alert alert-success" role="alert">
                <p>@TempData["Messages"]</p>
            </div>
        }

    }
    <div>
        <h4>User</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                New password
            </dt>
            <dd class="col-md-4">
                <form asp-action="ChangePassword" method="post">
                    <div class="form-group">
                        <input class="form-control" name="password" />
                        <input type="submit" value="Change" class="btn btn-primary mt-2" />
                        <a asp-controller="Visit" asp-action="Index">Back</a>
                    </div>
                </form>
            </dd>
        </dl>
    </div>
</div>