﻿@model SmartGarage.Services.Models.UserDTO

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Messages"] != null)
{
    if (@TempData["Messages"].ToString().Contains("wrong"))
    {
        <div class="alert alert-danger" role="alert">
            <p>@TempData["Messages"]</p>
        </div>
    }
    else
    {
        <div class="alert alert-success" role="alert">
            <p>@TempData["Messages"]</p>
        </div>
    }

}
<style>
    tbody {
        flex: 1 1 auto;
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
    }

    tr {
        width: 100%;
        display: table;
        table-layout: fixed;
    }
</style>
<div class="container mt-3">

    <div class="form-inline d-flex justify-content-md-between">
        <div>
            <h1>Details</h1>
            <h4>Customer</h4>
        </div>
        <div></div>
        <div>
            <form class="mb-2" method="get" asp-controller="Customers" asp-action="SendPdf" asp-route-id="@Model.Id">
                <input hidden name="customerId" value="@Model.Id" />
                <input type="submit" value="Send PDF" class="btn btn-outline-info" />
            </form>
            <form asp-controller="Customers" asp-action="SendResetPassowrd">
                <input hidden name="email" value="@Model.Email" />
                <input type="submit" value="Reset password" class="btn btn-outline-info" />
            </form>
        </div>
    </div>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Vehicles)
            </dt>
            <dd class="col-sm-6 m-2">
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Make
                                </th>
                                <th>
                                    Model
                                </th>
                                <th>
                                    PlateNumber
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody style="height: 150px;overflow: scroll;">
                            @foreach (var item in Model.Vehicles)
                            {
                                <tr>
                                    <td>
                                        @item.Manufacturer
                                    </td>
                                    <td>
                                        @item.Model
                                    </td>
                                    <td>
                                        @item.PlateNumber
                                    </td>
                                    <td>
                                        <a asp-controller="Vehicles" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </dd>
        </dl>

    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
