﻿@model SmartGarage.Services.Models.VisitDTO
@using SmartGarage.Data.Models.Enums

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <div id="pdfContainer">
            <h1>Details</h1>
            <h4>Visit</h4>
        <div>
            <hr />

            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CustomerName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CustomerName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.VehicleMake)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.VehicleMake)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.VehicleModel)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.VehicleModel)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PlateNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PlateNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.StatusName)
                </dd>
                <dt class="col-sm-2">
                    Date
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DateIn) -  @Html.DisplayFor(model => model.DateOut)
                </dd>
                <dt class="col-sm-2 mt-1 mb-1">
                    @Html.DisplayNameFor(model => model.Services)
                </dt>
                <dd class="col-sm-10 mt-1 mb-1">
                    <div id="currencyExchange">
                        <partial name="_VisitDetailsPartial" model="@Model" />
                    </div>
                </dd>
            </dl>
        </div>

    </div>
    <div>
        <a onclick="downloadPdf()" href="#" class="btn btn-success">Download Pdf</a> |
        @if (User.IsInRole("Employee"))
        {
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit |</a> 
        }
    <a asp-action="Index">Back to List</a>
    <div class="form-inline d-flex justify-content-lg-start mb-2">
        <h5 class="m-0 pt-2">Currency</h5>
        <select class="form-control input-sm ml-3 mt-3" id="currency">
            <option>EUR</option>
            <option>USD</option>
            <option>BGN</option>
        </select>
    </div>
    </div>
</div>
<input id="visitId" hidden value="@Model.Id"/>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/VisitDetails.js"></script>
}