﻿@model SmartGarage.Services.Models.VisitDTO
@using SmartGarage.Data.Models.Enums
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <h1>Edit</h1>
    <h4>Visit</h4>
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Edit">
                <div class="form-group">
                    <label asp-for="Status" class="control-label">Status</label>
                    <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<Status>()"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Edit" class="btn btn-primary" />
                    <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
