﻿<style>
    .map-responsive {
        overflow: hidden;
        padding-bottom: 50%;
        position: relative;
        height: 0;
    }

        .map-responsive iframe {
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }
</style>
<div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13562.41483755637!2d23.372240252413153!3d42.64670062947599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa86940322e46b%3A0x9dcf2a89d173b821!2sTelerik%20Academy!5e0!3m2!1sen!2sbg!4v1622796785519!5m2!1sen!2sbg" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>



