﻿@model SmartGarage.Web.Models.VehicleViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-3">
    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Vehicle</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PlateNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PlateNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdentityNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdentityNumber)
            </dd>
        </dl>

        <form asp-action="Delete" method="post">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>