﻿@model SmartGarage.Services.Models.VehicleDTO

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-3">
    <h1>Details</h1>

    <div>
        <h4>Vehicle</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerFullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerFullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Model)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Model)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Manufacturer)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Manufacturer)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PlateNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PlateNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdentityNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdentityNumber)
            </dd>

        </dl>
    </div>
    <div>
        @if (User.IsInRole("Employee"))
        {
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit |</a>
        } 
    <a asp-action="Index">Back to List</a>
    </div>
</div>