﻿@model SmartGarage.Web.Models.VehicleViewModel
@using SmartGarage.Services.Extensions
@using SmartGarage.Data.Models.Enums
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery AntiForgery

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-3">
    <h1>Edit</h1>

    <h4>Vehicle</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CustomerId" class="control-label">Customer</label>
                    <select asp-for="CustomerId" asp-items="Model.Customers.ToSelectListItem()" class="form-control select2"></select>
                </div>
                <div class="form-group">
                    <label asp-for="PlateNumber" class="control-label">Plate Number</label>
                    <input asp-for="PlateNumber" class="form-control" />
                    <span asp-validation-for="PlateNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdentityNumber" class="control-label">Identity Number</label>
                    <input asp-for="IdentityNumber" class="form-control" />
                    <span asp-validation-for="IdentityNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label">Type</label>
                    <select asp-for="Type" class="form-control select2" asp-items="Html.GetEnumSelectList<VehicleTypes>()"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label">Manufacturer</label>
                    <select asp-for="ManufacturerId" class="form-control select2" asp-items="Model.Manufacturers.ToSelectListItem()" id="Make"></select>
                </div>
                <div class="form-group">
                    <label asp-for="VehicleModelId" class="control-label">Model</label>
                    <select asp-for="VehicleModelId" class="form-control select2" asp-items="Model.Models.ToSelectListItem()" id="Model"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Edit" class="btn btn-primary" />
                    <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/js/VehicleEdit.js"></script>
<script>
     $('.select2').select2();
</script>
}


