﻿@model SmartGarage.Services.Helpers.Pager<VehicleDTO>
@using SmartGarage.Services.Models;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Vehicles";
}
<div class="container mt-3">
    @{
        <div class="text-center">
            <h1 class="display-4">Vehicles</h1>
            @if (TempData["Messages"] != null)
            {
                <div class="alert alert-success" role="alert">
                    <p>@TempData["Messages"]</p>
                </div>
            }

            @if (User.IsInRole("Employee"))
            {
                <form method="get" class="form-inline mb-3" asp-action="Index">
                    <div class="mx-auto">
                        <input type="text" class="form-control" name="SearchString" placeholder="Customer name">
                        <button type="submit" class="btn btn-outline-info"><i class="fas fa-search"></i></button>

                    </div>
                </form>
            }
            <table class="table">
                <thead>
                    <tr>
                        <th onclick="sortTable(0)">Manufacturer</th>
                        <th>
                            Model
                        </th>
                        <th>
                            License Plate
                        </th>
                        @if (User.IsInRole("Employee"))
                        {
                            <th>
                                Customer Name
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(i => item.Manufacturer)
                            </td>
                            <td>
                                @Html.DisplayFor(i => item.Model)
                            </td>
                            <td>
                                @Html.DisplayFor(i => item.PlateNumber)
                            </td>
                            <td>
                                @if (User.IsInRole("Employee"))
                                {
                                    @Html.DisplayFor(i => item.CustomerFullName)
                                }
                            </td>
                            <td>
                                @if (User.IsInRole("Employee"))
                                {
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary" title="Edit"><i class="far fa-edit"></i></a>
                                }

                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info" title="Details"><i class="fas fa-info-circle"></i></a>

                                @if (User.IsInRole("Employee"))
                                {
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger" title="Delete"><i class="far fa-trash-alt"></i></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @{
                var prevDisabled = !Model.PrevPage ? "disabled" : "";
                var nextDisabled = !Model.NextPage ? "disabled" : "";
            }
            <a asp-action="Index" asp-route-pageNumber="@(Model.Page - 1)" class="btn btn-default @prevDisabled">
                Previous
            </a>
            @Model.Page / @Model.TotalPages
            <a asp-action="Index" asp-route-pageNumber="@(Model.Page + 1)" class="btn btn-default @nextDisabled">
                Next
            </a>
        </div>
    }
</div>
@section Scripts {
    <script src="~/js/SortTable.js"></script>
}