﻿@model SmartGarage.Services.Helpers.Pager<ManufacturerDTO>
@using SmartGarage.Services.Models;
@using SmartGarage.Data.Models.Enums
@{
    ViewData["Title"] = "Manufacturers";
}

<div class="container mt-3">
    <div class="text-center">
        <h1 class="display-4">Manufacturers</h1>
        @if (TempData["Messages"] != null)
        {
            <div class="alert alert-success" role="alert">
                <p>@TempData["Messages"]</p>
            </div>
        }

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Restore Manufacturer
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(i => item.Name)
                        </td>
                        <td>
                            @if (User.IsInRole("Employee"))
                            {
                            <a asp-action="Restore" asp-route-id="@item.Id" class="btn btn-outline-info" title="Restore Deleted Manufacturer"> <i class="fas fa-external-link-square-alt"></i></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-controller="Manufacturers" asp-action="Index" class="btn btn-outline-success" title="Back to Manufacturers"><i class="fas fa-external-link-square-alt"></i></a>
        @{
            var prevDisabled = !Model.PrevPage ? "disabled" : "";
            var nextDisabled = !Model.NextPage ? "disabled" : "";
        }
        <a asp-action="Index" asp-route-pageNumber="@(Model.Page - 1)" class="btn btn-default @prevDisabled">
            Previous
        </a>
        @Model.Page / @Model.TotalPages
        <a asp-action="Index" asp-route-pageNumber="@(Model.Page + 1)" class="btn btn-default @nextDisabled">
            Next
        </a>
    </div>
</div>